body {
  background-color: var(--color-orange);
}
#box {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
#box-fixar {
  background-color: var(--color-pink);
  width: 500px;
  height: 500px;
  position: relative;
  border: 2px solid black;
}

.pos-correta {
  position: absolute;
  width: 50%;
  height: 50%;
  box-sizing: border-box;

  z-index: 1;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;

  background-color: rgba(0, 0, 0, 0.1);
  border: 1px solid black;
}

.encaixe {
  position: absolute;
  width: 300px;
  height: 300px;
  background-color: rgba(255, 0, 0, 0.5);
  z-index: 2;
}

#div1 {
  top: 0;
  left: 0;
}
#div2 {
  top: 0;
  right: 0;
}
#div3 {
  bottom: 0;
  left: 0;
}
#div4 {
  bottom: 0;
  right: 0;
}

#encaixe1 {
  top: -25px;
  left: -25px;
}

#encaixe2 {
  top: -25px;
  right: -25px;
}
#encaixe3 {
  bottom: -25px;
  left: -25px;
}
#encaixe4 {
  bottom: -25px;
  right: -25px;
}

.parte {
  width: 250px;
  height: 250px;
  background-image: url("/assets/images/natureza/img-1-V.jpg");
  background-size: 500px 500px;
  position: absolute;
}
.parte1 {
  background-position: 0px 0px;
  top: 50px;
  left: 100px;
  z-index: 3;
}
.parte2 {
  background-position: -250px 0px;
  top: 350px;
  left: 100px;
  z-index: 3;
}
.parte3 {
  background-position: 0px -250px;
  top: 50px;
  left: 1000px;
  z-index: 3;
}
.parte4 {
  background-position: -250px -250px;
  top: 350px;
  left: 1000px;
  z-index: 3;
}

#fundo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
  z-index: 9999;
}

#caixa {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff; 
  height: 200px;
  width: 400px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  z-index: 10000;
  text-align: center;
  margin-top: 2px;
}

#parabens {
  padding-top: 5px;
  padding-bottom: 25px;
}

#pergunta {
  padding-bottom: 40px;
}

#botao-recarregar {
  padding: 10px 20px;
  cursor: pointer;
}
